
#left{
margin-left:30px;
width:640px;
float:left;
position:fixed;
}

#right {  
margin-left:700px;
margin-right:30px;
}

#liststyles {  
margin-left:300px;
}
button{
    font-size: 20px;
}

.sub_column_name{
	color:#171E7A;
	font-weight: bold;
}

#video_comments{
   
}

.dancename{
  color:#777777;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  font-size: 36px;
font-weight: 700;
}
#selecteddance{
color:#87CEFA;
}

